---
import TextField from './TextField.astro'
import CheckboxField from './CheckboxField.astro'
import Button from '../Button.astro'
---

<form 
  name="contact" 
  method="POST" 
  data-netlify="true" 
  data-netlify-honeypot="bot-field" 
  class="mt-10"
>
  <!-- Hidden input field for Netlify -->
  <input type="hidden" name="form-name" value="contact" />
  
  <!-- Honeypot field to prevent spam -->
  <p class="hidden">
    <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
  </p>
  
  <div class="space-y-7">
    <TextField
      label="Name"
      name="name"
      auto-complete="name"
      placeholder="Mark Smith"
    />
    <TextField
      label="Email"
      name="email"
      type="email"
      auto-complete="email"
      placeholder="mark@email.com"
    />
    <TextField
      label="Phone"
      name="phone"
      type="tel"
      auto-complete="tel"
      aria-describedby="phone-description"
      placeholder="+1 (800) 123-4567"
      description="Optional"
    />
    <TextField
      label="Message"
      name="message"
      elementType="textarea"
      aria-describedby="message-description"
      placeholder="Tell me a little bit about your project..."
      description="Max 500 characters"
    />
    <fieldset>
      <legend class="block text-md font-medium leading-6 text-slate-900">
        Expected services
      </legend>
      <div class="mt-4 space-y-3">
        <CheckboxField label="Web development" name="web-development" />
        <CheckboxField label="Web design" name="web-design" />
        <CheckboxField label="Consulting" name="consulting" />
        <CheckboxField label="Other" name="other" />
      </div>
    </fieldset>
  </div>
  <div class="mt-10 border-t border-slate-200 pt-8">
    <Button type="submit" class="w-full !text-base sm:!text-lg">
      Inquire now
    </Button>
  </div>
</form>
