---
import { Image } from 'astro:assets'
import Container from './Container.astro'
import CurvyLines from './illustrations/CurvyLines.astro'
import Underline from '@components/illustrations/Underline.astro'
import heroImage from '@images/about-hero.png'
import bgGradient from '@images/about-hero-gradient.svg'
import '@fontsource/mr-dafoe'
---

<section class="relative bg-slate-50/50">
  <Image
    src={bgGradient}
    alt=""
    class="absolute inset-0 h-full w-full object-cover object-left lg:w-2/3"
  />

  <Container class="relative py-16 sm:py-24 lg:py-32">
    <div
      class="mx-auto max-w-3xl px-4 sm:px-6 lg:mx-0 lg:w-2/3 lg:max-w-none lg:px-8 lg:pr-16"
    >
      <h1
        class="font-display text-5xl font-semibold text-slate-900 sm:text-6xl"
      >
        Hi,
        <span class="relative whitespace-nowrap">
          <Underline />
          <span class="relative">I’m Jane</span>
        </span>{' '}
        and I’m a designer & developer
      </h1>
      <p class="mt-8 text-lg leading-8 text-slate-700">
        Pumpkin seasonal rich froth decaffeinated trifecta organic blue panna
        doppio. Body a whipped lungo variety spice seasonal body press mountain
        con macchiato. Medium coffee single white to caramelization siphon con
        siphon id as con go single. So ristretto pumpkin affogato cinnamon breve
        turkish organic. Lait black kopi dripper spice lait cultivar robusta
        panna whipped and sit aromatic sugar.
      </p>
      <p class="mt-6 text-lg leading-8 text-slate-700">
        And café frappuccino extraction filter froth sugar siphon coffee pumpkin
        press milk ristretto et au. Trade instant aged as wings bar seasonal
        pumpkin barista turkish shot go seasonal robusta. Strong iced lungo
        frappuccino espresso redeye macchiato aftertaste trade pot. Seasonal
        turkish mocha wings sit crema blue au and grounds eu cortado café cup.
        Filter viennese bar seasonal wings siphon as frappuccino go luwak single
        mazagran.
      </p>
      <p class="mt-16 font-cursive text-3xl text-slate-700">Jane Doe</p>
    </div>
  </Container>
  <div
    class="relative h-96 w-full md:h-[600px] lg:absolute lg:inset-y-0 lg:right-0 lg:h-full lg:w-1/3"
  >
    <Image
      src={heroImage}
      alt=""
      class="absolute inset-0 h-full w-full object-cover object-top"
    />
    <CurvyLines />
  </div>
</section>
