---
import { Image } from 'astro:assets'
import Container from '@components/Container.astro'
import type { CaseStudy } from '@types'

interface Props {
  caseStudy: CaseStudy
}

const {
  caseStudy: {
    data: { images },
  },
} = Astro.props
---

<style>
  .slider-container {
    position: relative;
    width: 70%;
    overflow: hidden;
  }

  .slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .slider-slide {
    min-width: 100%;
    box-sizing: border-box;
  }

  .slider-slide img {
    width: 100%;
    border-radius: 10px;
    padding: 50px;  
  }

  .slider-button-prev,
  .slider-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border: none;
    border-radius: 10%;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
  }

  .slider-button-prev {
    left: 10px;
  }

  .slider-button-next {
    right: 10px;
  }

  .slider-button-prev:hover,
  .slider-button-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
</style>

{images && images.length > 0 && (
  <section class="overflow-hidden py-16 bg-slate-50 sm:py-24 lg:py-28 xl:py-5">
    <center>
    <Container>
      <div class="slider-container">
        <div class="slider-wrapper">
          {images.map((image: any) => (
            <div class="slider-slide">
              <div class="aspect-h-2 aspect-w-3 w-full overflow-hidden sm:aspect-h-2 sm:aspect-w-4">
                <Image
                  src={image.src}
                  alt={image.alt}
                  class="w-full h-full rounded-3xl bg-slate-100 object-center"
                  style="object-fit: contain;"
                />
              </div>
            </div>
          ))}
        </div>
        <button class="slider-button-prev" onclick="prevSlide()">&#10094;</button>
        <button class="slider-button-next" onclick="nextSlide()">&#10095;</button>
      </div>
    </Container>
    </center>
  </section>
)}

<script>
  let currentSlide = 0;

  function showSlide(index: number) {
    const slides = document.querySelectorAll('.slider-slide');
    const wrapper = document.querySelector('.slider-wrapper') as HTMLElement;
    if (index >= slides.length) {
      currentSlide = 0;
    } else if (index < 0) {
      currentSlide = slides.length - 1;
    } else {
      currentSlide = index;
    }
    if (wrapper) {
      wrapper.style.transform = `translateX(-${currentSlide * 100}%)`;
    }
  }

  function nextSlide() {
    showSlide(currentSlide + 1);
  }

  function prevSlide() {
    showSlide(currentSlide - 1);
  }

  document.addEventListener('DOMContentLoaded', () => {
    showSlide(currentSlide);
  });

  declare global {
    interface Window {
      prevSlide: () => void;
      nextSlide: () => void;
    }
  }

  window.nextSlide = nextSlide;
  window.prevSlide = prevSlide;
</script>
