---
import Container from '@components/Container.astro'
import { Icon } from 'astro-icon'
import { getCollection } from 'astro:content'

interface Props {
  caseStudySlug: string
}

const { caseStudySlug } = Astro.props

async function getSortedCaseStudiesAndIndex(caseStudySlug) {
  const caseStudies = (await getCollection('work')).sort(
    (a, b) => b.data.timeline.end.valueOf() - a.data.timeline.end.valueOf(),
  )

  const index = caseStudies.findIndex((p) => p.slug === caseStudySlug)
  return { caseStudies, index }
}

async function findAdjacentCaseStudy(caseStudySlug, offset) {
  const { caseStudies, index } =
    await getSortedCaseStudiesAndIndex(caseStudySlug)
  const newIndex = (index + offset + caseStudies.length) % caseStudies.length
  return caseStudies[newIndex]
}

const prevCaseStudy = await findAdjacentCaseStudy(caseStudySlug, -1)
const nextCaseStudy = await findAdjacentCaseStudy(caseStudySlug, 1)
---

<section class="border-t border-slate-200 py-8">
  <Container>
    <div class="flex items-center justify-between">
      <a href={`/work/${prevCaseStudy.slug}`} class="group space-y-1.5">
        <div
          class="flex items-center gap-1 text-slate-500 duration-200 group-hover:text-sky-500"
        >
          <Icon name="chevron-left" class="h-5 w-5" />
           Previous
        </div>

        <div class="hidden sm:block">
          <h4
            class="font-display text-lg font-medium text-slate-900 md:text-xl"
          >
            {prevCaseStudy.data.title}
          </h4>
        </div>
      </a>

      <a
        href="/work"
        class="group flex h-12 w-12 items-center justify-center rounded-full bg-slate-50 shadow-sm ring-1 ring-slate-100/80 duration-200 hover:bg-sky-600 md:h-14 md:w-14"
      >
        <Icon
          name="square-2x2"
          class="h-4 w-4 text-slate-500 duration-200 group-hover:text-sky-50 md:h-5 md:w-5"
        />
      </a>

      <a href={`/work/${nextCaseStudy.slug}`} class="group space-y-1.5">
        <div
          class="flex items-center justify-end gap-1 text-slate-500 duration-200 group-hover:text-sky-500"
        >
          Next
          <Icon name="chevron-right" class="h-5 w-5" />
        </div>

        <div class="hidden sm:block">
          <h4
            class="font-display text-lg font-medium text-slate-900 md:text-xl"
          >
            {nextCaseStudy.data.title}
          </h4>
        </div>
      </a>
    </div>
  </Container>
</section>
