---
import CaseStudyItem from './CaseStudy.astro'
import type { CaseStudy } from '@types'

interface Props {
  caseStudies: CaseStudy[]
}

const { caseStudies } = Astro.props
---

<div
  class:list={[
    'mx-auto mt-12 grid max-w-xl gap-12 sm:mt-16 lg:mx-0 lg:mt-24 lg:max-w-none lg:grid-cols-2 lg:gap-10 xl:gap-24',
    caseStudies.length % 2 === 0 && 'lg:pb-32',
  ]}
>
  {
    caseStudies.map(async (caseStudyEntry, index) => (
      <CaseStudyItem caseStudyEntry={caseStudyEntry} index={index} />
    ))
  }
</div>
